---
- name: Create esp directory
  file:
    path: "{{ user_home }}/esp"
    state: directory

- name: Check if ESP-IDF is already cloned
  stat:
    path: "{{ user_home }}/esp/esp-idf"
  register: espidf_dir

- name: Clone ESP-IDF
  git:
    repo: https://github.com/espressif/esp-idf.git
    dest: "{{ user_home }}/esp/esp-idf"
    recursive: yes
    depth: 1
  when: not espidf_dir.stat.exists

- name: Check if ESP-IDF is already installed
  stat:
    path: "{{ user_home }}/.espressif/tools"
  register: espidf_tools

- name: Run ESP-IDF install script
  shell: "{{ user_home }}/esp/esp-idf/install.sh all"
  when: not espidf_tools.stat.exists
  args:
    executable: /bin/bash

- name: Add ESP-IDF alias to .bashrc
  lineinfile:
    path: "{{ user_home }}/.bashrc"
    line: 'alias get_idf=". $HOME/esp/esp-idf/export.sh"'
    state: present
