---
- name: Add Flathub remote
  community.general.flatpak_remote:
    name: flathub
    state: present
    flatpakrepo_url: https://dl.flathub.org/repo/flathub.flatpakrepo
    method: user

- name: Install Flatpak apps
  community.general.flatpak:
    name: "{{ item }}"
    state: present
    method: user
  loop:
    - com.jetbrains.DataGrip  # DataGrip
    - com.google.AndroidStudio # Android Studio
    - com.getpostman.Postman  # Postman
