---
- name: Check if LunarVim is already installed
  stat:
    path: "{{ user_home }}/.local/bin/lvim"
  register: lvim_bin

- name: Install LunarVim
  shell: |
    LV_BRANCH='release-1.4/neovim-0.9' \
    bash <(curl -s https://raw.githubusercontent.com/LunarVim/LunarVim/release-1.4/neovim-0.9/utils/installer/install.sh) --no-install-dependencies
  when: not lvim_bin.stat.exists
  args:
    executable: /bin/bash

- name: Check if lvim config dir is a git repo
  stat:
    path: "{{ user_home }}/.config/lvim/.git"
  register: lvim_config_git

- name: Remove non-git lvim config dir
  file:
    path: "{{ user_home }}/.config/lvim"
    state: absent
  when: not lvim_config_git.stat.exists

- name: Clone lvim config
  git:
    repo: https://github.com/A1DS19/lvim-config.git
    dest: "{{ user_home }}/.config/lvim"
    update: yes
